.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #f5f9fa;
    border-bottom: 2px solid #ccc;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0 12px 0.5px rgba(15, 53, 119, 0.8);
}

.logo {
    left: 0;
    margin-left: 15px;
    position: absolute;
    display: flex;
    align-items: center;
}

.logo img {
    width: 70px;
    height: 60px;
    border-radius: 50%;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 10px;
}

.nav-links a {
    color: rgb(53, 54, 116);
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    font-size: 1.1rem;
}

.nav-links a:hover {
    background-color: #aad2e0;
    border-radius: 5px;
}

.nav-links a:active {
    color: rgb(38, 38, 38);
    border-radius: 5px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: rgb(53, 54, 116);
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

    .navbar{
        height: 35px;
    }
    .nav-links {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav-links li {
        margin: 0 10px;
    }

    .nav-links a {
        color: rgb(53, 54, 116);
        text-decoration: none;
        padding: 10px;
        font-size: 1.1rem;
    }

    .nav-links a:hover {
        background-color: #aad2e0;
        border-radius: 5px;
    }

    .nav-links a:active {
        color: rgb(49, 44, 44);
        border-radius: 5px;
    }

    .logo img {
        width: 50px;
        height: 40px;
    }
}

@media (max-width: 576px) {
    .navbar {
        padding: 10px;
        justify-content: right;
    }

    .logo img {
        width: 40px;
        height: 30px;
    }

    .menu-toggle {
        display: block;
        font-size: 1.2rem;
        padding: 2px;
        margin-right: 30px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        padding: 5px 0;
        left: 0;
        width: 100%;
        background-color: #f5f9fa;
        border-bottom: 2px solid #ccc;
        right: 0;
    }

    .nav-links a {
        font-size: 1rem;
        padding: 8px;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .nav-links.open {
        display: flex;
    }
}